      <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Howdy!</h1>
        <p>This here wagon can hold up to five items. Fill 'er up, then come on over to the showcase! "Like" other wagons and start a trade with the local yokels!</p>
        <p><%= link_to "Register your Wagon!", new_user_path, {class: "btn btn-info btn-lg", role: "button"} %></a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>1. Fill your wagon.</h2>
          <p>Upload up to five images of things you want to trade. Have an old skateboard? How about some jeans you outgrew? Yesterday's bagel? Put 'em all in!</p>
        </div>
        <div class="col-md-4">
          <h2>2. Go to the showcase.</h2>
          <p>We'll show you 'round to wagons nearby. If ya'll like ANYTHING in each others' wagons, we'll set'cha up to make a trade. </p>
       </div>
       <div class="col-md-4">
          <h2>3. Manage Likes and message other locals.</h2>
          <p>On yer own home page, you'll see an organized list of Likes. We'll put the ones you can message on top. Go 'head! Give 'er a whirl! </p>
       </div>
        <div class="col-md-4">
          <h2>Vote for Future Features</h2>
            <ul class="list-group">
              <li class="list-group-item"><span class="badge">24</span>Mobile geo-locator.</li>
              <li class="list-group-item"><span class="badge">15</span>Buy more wagons.</li>
              <li class="list-group-item"><span class="badge">14</span>Pimp my "swaggon".</li>
              <li class="list-group-item"><span class="badge">4</span>Feature your wagon!</li>
            </ul>
          <p><a class="btn btn-default" href="#" role="button">Make feature request &raquo;</a></p>
        </div>
      </div>

      <hr>