<br>
<br>
<div class="container">
  <div class="row">
    <h1><span class="username"><%= @user.username %></span>'s wagon</h1><br>
  </div>
</div>
  <div class="photos">
    <% @user.items.each do |item| %>
      <div class="photo" id="<%= item.id %>">
        <i class="glyphicon glyphicon-remove"></i>
        <%= image_tag item.photo.url(:square) %><br>
        <span><%= item.name %></span><br>
      </div>
    <% end %>
  </div>

  <div id="cover"></div>

  <iframe id="edit_frame" src=""></iframe>