<br>
<br>
<br>
<br>
<%= @chats.each do |chat| %>
  <% if chat.messages %>
    <% chat.messages.each do |message| %>
    <li><%= message.content %></li>
    <% end %>
   <!--  <%#= form_for @message, url:{action: :create, controller: :messages, id: @message.id, class: "form-signin"} do |f| %>
      <h2 class="form-signin-heading">New Message</h2>

      <div class="form-group">
        <%#= f.text_field :username, :class => "form-control input-standard", :placeholder => "mmm whacha say?" %>
      </div>
      <button type="submit" class="btn btn-success btn-hg btn-block">Submit Changes</button> -->
    <%# end %>
  <% end %>
<% end %>



