// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.wagon {
  width: 100%;
  height: auto;
}

.welcome {
  font-size: 30px;
  margin-top: 20px;
  width: 30%;
  min-width: 300px;
  padding: 20px;
  line-height: 100%;
  border-width: 3px;
  border-style: solid;
  z-index: 100;
  text-align: left;
  background-color: white;
  box-shadow: 5px 5px 3px black;
  float: left;
  
}




@media only screen and (max-width: 1078px) {
  .welcome h1 {
    font-size: .8em;
  }
  .welcome p {
    font-size: .8em;
  }
  .welcome .btn.btn-info.btn-lg {
    font-size: .8em;


  }
}

@media only screen and (max-width: 808px) {
  .welcome h1 {
    font-size: .6em;
  }
  .welcome p {
    font-size: .6em;
  }
  .welcome .btn.btn-info.btn-lg {
    font-size: .6em;


  }
}

@media only screen and (max-width: 700px) {
  .welcome h1 {
    font-size: .5em;
  }
  .welcome p {
    font-size: .5em;
  }
  .welcome .btn.btn-info.btn-lg {
    font-size: .5em;


  }
}

