// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-page h2 {
  font-family: 'Permanent Marker', cursive;
}

.wagon {
  width: 100%;
  height: auto;
}

.welcome {
  margin-top: 20px;
  width: 30%;
  min-width: 300px;
  padding: 20px;
  line-height: 100%;
  border-width: 3px;
  border-style: solid;
  z-index: 100;
  font-family: 'Franklin Gothic Book';
  font-size: 1.3em;
  text-align: left;
  background-color: white;
  box-shadow: 5px 5px 3px black;
  float: left;
}

.howdy {
  font-family: 'Permanent Marker', cursive;
  padding-bottom: 15px;
}

.register-button {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.2em;
}

@media only screen and (max-width: 1024px) {
  .welcome h1 {
    font-size: 0.8em;
  }
  .welcome p {
    font-size: 0.8em;
  }
  .welcome .btn.btn-info.btn-lg {
    font-size: 0.8em;
  }

  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

@media only screen and (max-width: 768px) {
  .welcome h1 {
    font-size: 0.6em;
  }
  .welcome p {
    font-size: 0.6em;
  }
  .welcome .btn.btn-info.btn-lg {
    font-size: 0.6em;
  }
}

@media only screen and (max-width: 700px) {
  .welcome h1 {
    font-size: 0.5em;
  }
  .welcome p {
    font-size: 0.5em;
  }
  .welcome .btn.btn-info.btn-lg {
    font-size: 0.5em;
  }
}

@media only screen and (max-width: 700px) {
  .welcome h1 {
    font-size: 0.5em;
  }
  .welcome p {
    font-size: 0.5em;
  }
  .welcome .btn.btn-info.btn-lg {
    font-size: 0.5em;
  }
}

@media only screen and (max-width: 480px) {
  
}
