// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-brand {
  font-family: 'Molle', cursive;
  font-size: 1.5em;
  background-color: rgba(200, 0, 0, 1);
  color: #FFF !important;
  z-index: 2;
}

h1, h2, h3 {
  font-family: 'Permanent Marker', cursive;
}

h1 {
  font-size: 4em;  
}

h2 {
  font-size: 3em;
}

.hood-text {
  font-family: 'Permanent Marker', cursive;
}

.user-nav-text {
  color: white !important;
}

.navbar-brand:hover {
  background-color: rgba(200, 0, 0, 1) !important;
}

.my-fluid-container {
  margin: 0 auto;
  padding: 0 15px;
}

#crazyshit {
  background-color: #222;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px 0 0 10px;
  width: 100%;
  height: auto;
  box-shadow: 30px 30px 30px 30px;
  z-index: 999;
}

footer {
  color: white;
}