// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my-fluid-container {
  margin: 0 auto;
  padding: 0 15px;
}

#crazyshit {
  background-color: #222;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px 0 0 10px;
  width: 100%;
  height: auto;
  box-shadow: 30px 30px 30px 30px;
  z-index: 999;
}

footer {
  color: white;
}
