#cover {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  background-color: rgba(0,0,0,.25);
  z-index: 10;
  top: 0;
  left: 0;
  display: none;
}

#edit_frame {
  position: fixed;
  height: 55%;
  width: 33%;
  top: 20%;
  background-color: rgba(255,255,255,1);
  z-index: 20;
  left: 33%;
  display: none;
}

.photos img {
  height: 150px;
  width: auto;
}

/*.photos .photo .glyphicon glyphicon-remove.hover a {
    color: #d2d2d2;
}*/
.photos > .photo .glyphicon {
  font-size: 28px;
  vertical-align: top;
  left: 150px;
  z-index: 30;
}

.photos > .photo .glyphicon-remove:hover {
  color: red;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 100%;
  opacity: 0.1;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

