<% if @user %>
  <li><%= link_to "My Wagon", @user %></li>
  <li><%= link_to "Profile", edit_user_path(@user) %></li>
  <li><%= link_to "Likes", likes_show_path %></li>
  <li><%= link_to "Showcase", random_wagon_nearby_path(username: @user.username) %></li>
<% end %>