<% if @user %>
  <li><%= link_to "My Wagon", @user %></li>
  <li><%= link_to "Edit Profile", edit_user_path(@user) %></li>
  <li><%= link_to "My Likes", likes_show_path %></li>
  <li><%= link_to "Show Me The Wagons!", random_wagon_nearby_path(username: @user.username) %></li>
<% end %>