<li><%= link_to "Profile", @user %></li>
<li><%= link_to "Edit", edit_user_path(@user) %></li>
<<<<<<< HEAD
<!-- <li><%#= link_to "Showcase", random_wagon_nearby_path(username: @user.username) %></li> -->
=======
<li><%= link_to "Showcase", random_wagon_nearby_path(username: @user.username) %></li>
>>>>>>> 7a4ff44bf14267514d2c23a4281085447b9a768f
