<!DOCTYPE html>
<html>
<head>
  <title>Red Wagon</title>

  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <ul>
    <% if logged_in? %>
      <li> Logged In As:<%= current_user.username %> </li>
      <% link_to "Logout", "#" %>
    <% else %>
      <li> <%= link_to "Login", login_path %> </li>
    <% end %>
  </ul>
</nav>

<%= yield %>

</body>
</html>
